<%= form_for([@group,@group_user]) do |f| %>
  <% if @group_user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@group_user.errors.count, "error") %> prohibited this group_user from being saved:</h2>
    <ul>
    <% @group_user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id, @users, :id, :alphaname, :include_blank => '') %>
  </div>
  <div class="field">
    <%= f.label :is_owner %><br />
    <%= f.check_box :is_owner %>
  </div>
  <div class="actions">
    <%= f.submit 'Add to Group' %>
  </div>
<% end %>
