<%= form_for([@group, @project, @task]) do |f| %>
  <% if @task.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% if current_user.is_admin %>
  <div class="field">
    <%= f.label :submitter_id %><br />
    <%= f.collection_select(:submitter_id, User.all, :id, :alphaname, :include_blank => '') %>
  </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <% if @task.project.group.owners.include?(current_user) or current_user.is_admin %>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select(:status, @task.statuses.values) %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :assigned_to %><br />
    <%= f.collection_select(:user_id, User.all, :id, :alphaname, :include_blank => 'None') %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
