<h1>Task: <%= @task.name %></h1>
<p>In project <%= link_to @project.name, group_project_path(@group, @project) %></p>
<p>
  <b>Submitted by:</b>
  <%= @task.submitter.name %>
</p>

<p>
  <b>Assigned to:</b>
  <%= @task.user.nil? ? 'Nobody' : @task.user.name %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>


<p>
  <b>Details:</b> <br />
  <%= @task.body %>
  </p>
  <hr>
  <h2>Comments</h2>
<% if @task.comments.empty? %>
  <em>No comments yet.</em>
<% else %>
  <% @task.comments.each do |c| %>
    <p><b><%= c.user.name %> on <%= c.created_at %>:</b>
    <% if current_user and (c.user == current_user or current_user.is_admin) %>
      <small>(
      <%= link_to 'edit', edit_group_project_task_comment_path(@group, @project, @task, c) %>
      <% if current_user.is_admin %>
        | <%= link_to 'destroy', group_project_task_comment_path(@group, @project, @task, c), :method => :delete %>
      <% end %>)</small>
    <% end %>
    <br />
    <%= raw textilize c.body %>
    <% if c.created_at != c.updated_at %>
      <small>(Last edited on <%= c.updated_at %>)</small>
    <% end %>
    </p><br /> 
  <% end %>
<% end %>
<br/>
<% if current_user %>
  <%= link_to 'Add Comment', new_group_project_task_comment_path(@group, @project, @task) %>
<% end %>
<p>
<%= link_to 'Edit', edit_group_project_task_path(@group, @project, @task) %>
