<p class="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @task.project_id %>
</p>

<p>
  <b>Submitter:</b>
  <%= @task.submitter_id %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Body:</b>
  <%= @task.body %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>


<%= link_to 'Edit', edit_group_project_task_path(@group, @project, @task) %>
