<h1>Listing groups</h1>



<% @groups.each do |group| %>
<h2>
  <%= link_to group.name, group %>
  <small>( <%= link_to 'edit', group,:action=>:edit %> )</small>
</h2>
<p><%= group.description %></p>
  <% unless group.projects.empty? %>
    <p><strong><%= group.projects.count %>Active Projects</strong></p>
    <ul>
      <% group.projects.each do |p| %>
        <li><%= link_to p.name,p %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<br />

<%= link_to 'New group', new_group_path %>
