<h1>Listing groups</h1>


<% @groups.each do |group| %>
<h2>
  <%= link_to group.name, group %>
  <% if current_user && (group.owners.include?(current_user) || current_user.is_admin) %>
  <small>( <%= link_to 'edit', edit_group_path(group) %> )</small>
  <% end %>
</h2>
<p><%= group.description %></p>
  <% unless group.active_projects.empty? %>
    <p><strong><%= group.active_projects.count %> Active Projects</strong></p>
    <ul>
      <% group.active_projects.each do |p| %>
        <li><%= link_to p.name,[p.group, p] %></li>
      <% end %>
    </ul>
  <% end %>
  <% if current_user and (current_user.is_admin or group.owners.include?(current_user)) %>
    <% unless group.inactive_projects.empty? %>
      <p><strong><%= group.inactive_projects.count %> Inactive Projects</strong></p>
      <ul>
        <% group.inactive_projects.each do |p| %>
          <li><%= link_to p.name,[p.group, p] %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<br />

<% if current_user && current_user.is_admin %>
  <%= link_to 'New group', new_group_path %>
<% end %>
