<h1>Listing groups</h1>


<% @groups.each do |group| %>
<h2>
  <%= link_to group.name, group %>
  <% if current_user && (group.owners.include?(current_user) || current_user.is_admin) %>
  <small>( <%= link_to 'edit', edit_group_path(group) %> )</small>
  <% end %>
</h2>
<p><%= group.description %></p>
  <% unless group.projects.empty? %>
    <p><strong><%= group.projects.count %> Active Projects</strong></p>
    <ul>
      <% group.projects.each do |p| %>
        <li><%= link_to p.name,[p.group, p] %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<br />

<% if current_user && current_user.is_admin %>
  <%= link_to 'New group', new_group_path %>
<% end %>
