<%# Note: we use some helper methods (make_*_link) defined in /app/helpers/groups_helper.rb %>
<% @perms =  current_user && (@group.owners.include?(current_user) || current_user.is_admin) %>
<h1><%= @group.name %></h1>
<% if @perms %>
  <%= link_to 'Edit', edit_group_path(@group) %>
  <% if (@projects.nil? or @projects.empty?) and (@inactive_projects.nil? or @inactive_projects.empty?) %>
   | <%= link_to 'Destroy', @group, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
<% end %>
<p><%= @group.name %> is a group of users in Flagship Tasks.</p>
<p>
  <%= @group.description %>
</p>

<hr />
<h2>Active Projects</h2>
<% if @projects.nil? || @projects.empty? %>
  <em>This group has no active projects.</em>
<% else %>
  <ul>
  <% @projects.each do |p| %>
    <li><%= link_to p.name, [p.group, p] %></li>
  <% end %>
  </ul>
<% end %>
<% if current_user and (current_user.is_admin or @owners.include?(current_user)) %>
  <h3>Inactive Projects</h3>
  <% if @inactive_projects.nil? || @inactive_projects.empty? %>
    <small><em>This group has no inactive projects.</em></small>
  <% else %>
    <ul>
    <% @inactive_projects.each do |p| %>
      <li><small><%= link_to p.name, [p.group, p] %></small></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
<% if @perms %>
  <p><%= link_to "Add new project", new_group_project_path(@group) %></p>
<% end %>

<hr />
<h2>Membership</h2>
<p>
<% if @owners.nil? || @owners.empty? %>
  <em>This group has no owners.</em>
<% else %>
  <b>Owners (users who control the group):</b>
  <ul>
    <% @owners.each do |u| %>
      <li>
      <%= link_to u.name, u %>
      <% if @perms and u != current_user %>
        (<%= make_demote_link(@group,u) %>)
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</p>

<p>
<% if @users.nil? || @users.empty? %>
  <em>There are no additional users.</em>
<% else %>
  <b>Members:</b>
  <ul>
    <% @users.each do |u| %>
      <li>
      <%= link_to u.name, u %> 
      <% if @perms or u == current_user %>
        (<% if @perms %><%= make_owner_link(@group, u) %> | <% end %><%= make_remove_link(@group,u) %>)
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</p>


<% if @perms %>
  <%= link_to 'Add a member', new_group_group_user_path(@group) %>
<% end %>
