<%# Note: we use some helper methods (make_*_link) defined in /app/helpers/groups_helper.rb %>
<% @perms =  current_user && (@group.owners.include?(current_user) || current_user.is_admin) %>
<h1><%= @group.name %></h1>
<% if @perms %>
  <%= link_to 'Edit', edit_group_path(@group) %>
<% end %>
<p><%= @group.name %> is a group of users in Flagship Tasks.</p>
<p>
  <%= @group.description %>
</p>

<hr />
<h2>Projects</h2>
<% if @projects.nil? || @projects.empty? %>
  <em>This group has no projects.</em>
<% else %>
  <ul>
  <% @projects.each do |p| %>
    <li><%= link_to p.name, [p.group, p] %></li>
  <% end %>
  </ul>
<% end %>
<% if @perms %>
  <p><%= link_to "Add new project", new_group_project_path(@group) %></p>
<% end %>

<hr />
<h2>Membership</h2>
<p>
<% if @owners.nil? || @owners.empty? %>
  <em>This group has no owners.</em>
<% else %>
  <b>Owners (users who control the group):</b>
  <ul>
    <% @owners.each do |u| %>
      <li>
      <%= link_to u.name, u %>
      <% if @perms and u != current_user %>
        (<%= make_demote_link(@group,u) %>)
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</p>

<p>
<% if @users.nil? || @users.empty? %>
  <em>There are no additional users.</em>
<% else %>
  <b>Members:</b>
  <ul>
    <% @users.each do |u| %>
      <li>
      <%= link_to u.name, u %> 
      <% if @perms or u == current_user %>
        (<%= make_owner_link(@group, u) if @perms %> | <%= make_remove_link(@group,u) %>)
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</p>


<% if @perms %>
  <%= link_to 'Add a member', new_group_group_user_path(@group) %>
<% end %>
