<p class="notice"><%= notice %></p>

<h1><%= @project.name %></h1>
<p>A project managed by <%= link_to @group.name, @group %>
<% unless @project.active %>
  <p><em>This project is currently inactive.</em></p>
<% end %>

<h2>Tasks</h2>
<% if @tasks.nil? || @tasks.empty? %>
  <em>This project has no tasks.</em>
<% else %>
  <ul>
  <% @tasks.each do |t| %>
    <li>
      <%= link_to t.name, [@group, @project, t] %>
      (<%= t.status %>)
      (
      <% if current_user && (current_user.is_admin || @group.owners.include?(current_user)) %>
        <%= link_to 'edit', edit_group_project_task_path(@group, @project, t) %> | <%= link_to 'delete', group_project_task_path(@group, @project, t), :method => :delete %>
      <% end %>
      )
        </li>
  <% end %>
  </ul>
<% end %>
<% if current_user && @project.group.users.include?(current_user) %>
  <p><%= link_to "Add new task", new_group_project_task_path(@group,@project) %></p> 
<% end %>
<% if current_user && (current_user.is_admin || @group.owners.include?(current_user)) %>
  <p><%= link_to 'Edit Project Info', edit_group_project_path(@group, @project) %>
  </p>
<% end %>

<% if current_user && current_user.is_admin %>
  <%= link_to 'Destroy', group_project_path(@group, @project), :method => :delete %>
<% end %>
